.root {
  li {
    display: inline-block;

    a {
      color: orange;
      text-align: center;
      width: 45px;
      height: 45px;
      padding: 10px;
      border: 1px solid orange;
      border-radius: 50%;
      cursor: pointer;
      margin-right: 10px;
      display: inline-block;

      &:hover {
        background-color: orange;
        color: white;
      }
    }
  }

  :global {
    .selected {
      a {
        background-color: orange;
        color: white;
      }
    }
  }
}
