.root {
  position: relative;
  left: -150px;
}

.input {
  border: 1px solid rgba(0, 0, 0, 0.1);
  padding: 12px 20px;
  width: 300px;
  padding-left: 40px;
  border-radius: 10px;
  font-size: 16px;
  transition: 0.2s;

  &:focus {
    border: 1px solid rgba(0, 0, 0, 0.2);
  }
}

.icon {
  width: 20px;
  height: 20px;
  opacity: 0.3;
  position: absolute;
  left: 12px;
  top: 12px;
}

.clearIcon {
  width: 15px;
  height: 15px;
  opacity: 0.3;
  position: absolute;
  right: 15px;
  top: 15px;

  &:hover {
    opacity: 0.8;
    cursor: pointer;
  }
}
